@model IEnumerable<MyRecipe.Data.Entities.Recipe>
@{
    ViewData["Title"] = "Home Page";
}
    <form>
        <label>Search:
            <input type="search" name="q" />
            <button type="submit">Search</button>
        </label>
    </form>

@foreach(var recipe in Model)
{
    <div>
        @recipe.Title
    </div>
}